.header {
  width: 100%;
  padding: 12px 40px;
  background-color: #FFFEF0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-left a {
  text-decoration: none;
}

.logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.company-name {
  font-size: 18px;
  font-weight: 600;
  color: #3F2305;
; /* brownish tone like UI */
}

.header-right {
  display: flex;
  align-items: center;
  gap: 28px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #3F2305;
}

.contact-item a{
  text-decoration: none;
  color: inherit;
}

.contact-item a:hover {
  text-decoration: underline;
}

.icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

@media (max-width: 768px) {
    .header-right {
        display: none;
    }

    .header {
        padding: 10px 20px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .header-right {
        gap: 16px;
    }

    .contact-item {
        font-size: 12px;
    }
}

@media (max-width: 408px) {
    .company-name {
        display: block;
    }

    .header-right {
        display: none;
    }
}


